@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", "sans-serif";
  min-height: 100vh;
  background-color: aquamarine;
}

header {
  background-color: darkblue;
  padding: 1.5em 0;
}

.container {
  width: 100%;
  max-width: 75vw;
  margin: 0 auto;
}

header h1 {
  letter-spacing: 1px;
  font-size: 1.6rem;
  font-weight: 600;
  color: aliceblue;
}

main {
  padding: 5em 0;
}

.library {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1.5em;
  row-gap: 1em;
}

@media screen and (max-width: 1024px) {
  .library {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 90vw;
  }

  .library {
    grid-template-columns: repeat(2, 1fr);
  }

  .button-wrapper {
    justify-content: center !important;
  }
}

@media screen and (max-width: 500px) {
  .library {
    grid-template-columns: 1fr;
  }

  .container {
    max-width: 85vw;
  }
}

.book {
  border: 1px solid black;
  border-radius: 0.8em;
  background-color: red;
  padding: 1em 2em;
}

.book-title {
  font-weight: 700;
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.book p {
  margin-bottom: 0.5em;
}

.button-wrapper {
  display: flex;
  justify-content: flex-end;
  gap: 1em;
  margin-top: 1.5em;
}

.btn {
  border: none;
  border-radius: 5px;
  padding: 0.5em 0.5em;
}
